<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css\bootstrap.min.css">
    <script src="js\jquery.min.js"></script>
    <script src="js\bootstrap.min.js"></script>
    <script src="js\angular.min.js"></script>
    <script src="js\script.js"></script>
    <style>
        .cross-sign {
            margin-top: -28px;
        }
        
        .v-align {
            position: relative;
            margin-top: 50px;
        
        }
        
        .alert-height {
            height: auto;
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="todoCtrl">


    <div class="tab-content">

        <div id="home" class="tab-pane fade in active v-align">
            <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <span class="navbar-brand">UrList</span>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>  
    </div>
</div>
</nav>
            <div class="alert alert-warning text-center alert-height">
                <h1><strong>UrList</strong></h1>
                <br><br>
                <h5>
                    <p>Manage tasks and projects anywhere with UrList.</p>
                    <p>UrList is your own personal To-Do list.</p>
                    <p>Access it from anywhere and get organized!</p>
                </h5>
                <br><br>
                <div class="text-center"><a class="btn btn-success btn-lg" data-toggle="tab" ng-click="load()" href="#main">Get Started</a></div><br>
            </div>
        </div>

        <div id="main" class="tab-pane fade">
            <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <span class="navbar-brand">UrList</span>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      
     
                    <div class="pull-right">
                        <button type="submit" class="btn btn-default navbar-btn" ng-click="save()">Save</button>
                        <button type="submit" class="btn btn-default navbar-btn" ng-click="clearSaved()">Clear Saved</button>
                    </div>
                
    </div>
</div>
</nav>
            <div class="container">
                <br><br>
                <div class="page-header">
                    <h3>Add Items</h3>
                </div>
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="todoInput" size="50" placeholder="Add New">
                        <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="todoAdd()"><span class="glyphicon glyphicon-plus"></span>                        Add New</button>
                        </span>
                    </div>
                </form>
                <br><br>

                <!-- Alert -->
                <div class="alert alert-danger" role="alert" ng-show="flagDuplicate">
                    <span>{{errorMessage}}</span>
                </div>
                <!-- Alert -->

                <!-- Add Items -->
                <div class="row">
                    <div ng-show="!isBothEmpty()" class="col-sm-6 col-md-6 col-xs-12 clearfix">
                        <div class="well">
                            <div class="panel panel-warning">
                                <div class="panel-heading">To Be Done<span class="badge pull-right">{{countTotal()}}</span></div>
                                <table class="table">
                                    <tr ng-repeat="x in todoList | orderBy : 'date'">
                                        <td>
                                            <div class="checkbox"><label><input type="checkbox" ng-model="x.checkboxStatus">{{ x.todoText }}</label></div>
                                            <span ng-click="removeTodo($index)" class="glyphicon glyphicon-remove pull-right cross-sign"></span>
                                        </td>
                                    </tr>
                                    <tr ng-show="isEmpty()">
                                        <td class="alert alert-danger" role="alert">No Items in this List</td>
                                    </tr>
                                </table>
                            </div>
                            <div ng-show="!isEmpty()">
                                <button ng-click="completed()" class="btn btn-success pull-right col-xs-12 col-sm-12 col-md-6">
                Move to Completed <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
                            </div><br><br>
                        </div><br>
                    </div>

                    <!-- Completed Items -->
                    <div ng-show="!isBothEmpty()" class="col-sm-6 col-md-6 col-xs-12 clearfix">
                        <div class="well">
                            <div class="panel panel-success">
                                <div class="panel-heading">Completed<span class="badge pull-right">{{countDeleted()}}</span></div>
                                <table class="table">
                                    <tr ng-repeat="y in completedList | orderBy : 'date'">
                                        <td>
                                            <div class="checkbox"><label><input type="checkbox" ng-model="y.checkboxStatus">{{ y.todoText }}</label></div>
                                            <span ng-click="removeCompleted($index)" class="glyphicon glyphicon-remove pull-right cross-sign"></span>
                                        </td>
                                    </tr>
                                    <tr ng-show="isEmptyCompleted()">
                                        <td class="alert alert-danger" role="alert">No Items in this List</td>
                                    </tr>
                                </table>
                            </div>
                            <div ng-show="!isEmptyCompleted()">
                                <button ng-click="move()" class="btn btn-warning pull-left col-xs-12 col-sm-12 col-md-6">
                <span class="glyphicon glyphicon-chevron-left"></span> Move to To-Do
            </button>
                            </div><br><br>
                        </div><br>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Alert!</h4>
                            </div>
                            <div class="modal-body">
                                <p>{{errorMessage}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="moveThroughModal()">Move to To-Do</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->

                <!-- Modal2 -->
                <div class="modal fade" id="alertModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Alert!</h4>
                            </div>
                            <div class="modal-body">
                                <p>{{errorMessage}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal2 -->

            </div>
        </div>
    </div>
</body>

</html>